In [1]:
from bot.trigger_utils import get_kowalski_ztf_queue
import yaml

with open('bot/TriggerCredentials.yaml', 'r') as file:
    credentials = yaml.safe_load(file)
fritz_token = credentials['fritz_token']
ztf_allocation = credentials['allocation']

In [2]:
# print the current queue

current_ztf_queue = get_kowalski_ztf_queue(fritz_token, ztf_allocation)

In [5]:
from bot.trigger_utils import get_plan_stats

# get a specific plan
gcnevent_id=13342
queuename="S250319bu_BBHBot_2025-04-03 01:18:21.260"
stats = get_plan_stats(gcnevent_id, queuename, fritz_token, mode='')

Already submitted to queue
Total time: 2940, probability: 0.7988238394848364

# dev work to eventually remove

In [1]:
import pandas as pd

In [15]:
df=pd.read_csv('bot/data/triggered_events.csv')
df

,superevent_id,dateobs,gcn_type,gcn_id,localization_id,trigger_cadence,pending_observation,unsuccessful_observation,successful_observation,valid
0,S240919bn,2024-09-19T06:15:59,NaN,11166.0,19069.0,"['2024-09-26', '2024-10-03', '2024-10-10', '20...",NaN,NaN,"['(24676,2024-09-19T06:21:30.794)']",False
1,S240923ct,2024-09-23T20:40:06,NaN,11230.0,19209.0,"['2024-10-01', '2024-10-08', '2024-10-15', '20...",NaN,NaN,"['(224968,2024-09-24T02:36:34.228)']",False
2,S241006k,2024-10-06T01:53:34,NaN,11371.0,19488.0,"['2024-10-13', '2024-10-20', '2024-10-27', '20...",NaN,NaN,"['(26327,2024-10-06T02:20:20.960)']",False
3,S241009em,2024-10-09T22:04:56,NaN,11431.0,19721.0,"['2024-10-19', '2024-10-26', '2024-11-02', '20...",NaN,NaN,"['(34214,2024-10-12T09:00:53.912)']",False
4,S241114y,2024-11-15T12:43:58,NaN,11702.0,20255.0,"['2024-11-22', '2024-11-29', '2024-12-06', '20...",NaN,NaN,"['(224968,2024-09-24T02:36:34.228)']",False
5,S241125n,2024-11-25T01:01:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,S250319bu,2025-03-19T06:25:36,NaN,13342.0,23674.0,"['2025-03-27', '2025-04-04', '2025-04-09', '20...","(25392,2025-04-03T03:04:39.231)",NaN,NaN,True

In [17]:
def update_trigger_log(superevent_id_to_check, column, value, append_string=False):
    df = pd.read_csv('bot/data/triggered_events.csv')
    if append_string:
        current_value = df.loc[df['superevent_id'] == superevent_id_to_check, column].values[0]
        if type(current_value)!= str:
            current_value = ''
        df.loc[df['superevent_id'] == superevent_id_to_check, column] = current_value+','+value
    else:
        df.loc[df['superevent_id'] == superevent_id_to_check, column] = value
    #df.to_csv('bot/data/triggered_events.csv', index=False)
    return df

In [18]:
log_value = '(25392,2025-04-03T03:04:39.231)'	
df = update_trigger_log('S240919bn', 'pending_observation', log_value, append_string=True)
df

,superevent_id,dateobs,gcn_type,gcn_id,localization_id,trigger_cadence,pending_observation,unsuccessful_observation,successful_observation,valid
0,S240919bn,2024-09-19T06:15:59,NaN,11166.0,19069.0,"['2024-09-26', '2024-10-03', '2024-10-10', '20...",",(25392,2025-04-03T03:04:39.231)",NaN,"['(24676,2024-09-19T06:21:30.794)']",False
1,S240923ct,2024-09-23T20:40:06,NaN,11230.0,19209.0,"['2024-10-01', '2024-10-08', '2024-10-15', '20...",NaN,NaN,"['(224968,2024-09-24T02:36:34.228)']",False
2,S241006k,2024-10-06T01:53:34,NaN,11371.0,19488.0,"['2024-10-13', '2024-10-20', '2024-10-27', '20...",NaN,NaN,"['(26327,2024-10-06T02:20:20.960)']",False
3,S241009em,2024-10-09T22:04:56,NaN,11431.0,19721.0,"['2024-10-19', '2024-10-26', '2024-11-02', '20...",NaN,NaN,"['(34214,2024-10-12T09:00:53.912)']",False
4,S241114y,2024-11-15T12:43:58,NaN,11702.0,20255.0,"['2024-11-22', '2024-11-29', '2024-12-06', '20...",NaN,NaN,"['(224968,2024-09-24T02:36:34.228)']",False
5,S241125n,2024-11-25T01:01:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,S250319bu,2025-03-19T06:25:36,NaN,13342.0,23674.0,"['2025-03-27', '2025-04-04', '2025-04-09', '20...","(25392,2025-04-03T03:04:39.231)",NaN,NaN,True

In [9]:
example="(25392,2025-04-03T03:04:39.231),(25393,2025-04-05T03:06:18.063)"
print(example)
value_remove=(25392,'2025-04-03T03:04:39.231')
value_to_remove_str = f"({value_remove[0]},{value_remove[1]})"
print(value_to_remove_str)
# Remove the value and any extra comma
updated_string = example.replace(value_to_remove_str + ",", "").replace("," + value_to_remove_str, "").replace(value_to_remove_str, "")
print(updated_string)

(25392,2025-04-03T03:04:39.231),(25393,2025-04-05T03:06:18.063)
(25392,2025-04-03T03:04:39.231)
(25393,2025-04-05T03:06:18.063)

In [2]:
from astropy.time import Time

In [3]:
Time('2025-04-03T03:04:39.231')